@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

#page-title {
  text-align: center;
  width: 100vw;
  margin-top: 2rem;

  color: yellow;
  font-size: 3rem;
  font-family: "Luckiest Guy", "cursive";
}